@import 'basic/variables.scss';
$heighthead:300px;
$heightfooter:300px;
@mixin width($widthmain){
    width: $widthmain;
}
@mixin size($heightmain, $widthmain){
    height: $heightmain;
    width: $widthmain;
}
.all{
    @include width(960px);
    background-color:white;
    .head{
        @include size(300px,960px);
        background-color: steelblue; 
    }
    .main{
        @include width(960px);
        .left{
            @include size(500px,320px);
            background-color: seagreen;
            float: left;
        }
        .middle{
            @include size(500px,320px);
            background-color: salmon;
            float: left;
        }
        .right{
            @include size(500px,320px);
            background-color: saddlebrown;
            float: left;
        }
    }
    .footer{
        @include size(300px,960px);
        background-color: red;
    }
}
