@import 'basic/variables.scss';
$heighthead:300px;
$heightfooter:300px;
@mixin width($widthmain){
    width: $widthmain;
}
@mixin size($heightmain, $widthmain){
    height: $heightmain;
    width: $widthmain;
}
.all{
    @include width(960px);
    background-color: white;
    .head{
        @include size(300px,960px);
        background-color: steelblue;
        
    }
}
